<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4" style="text-align:center;">Posts</h1>
      <%= form_tag network_sort_path, method: :post do %>
        <div class="row" style="margin-bottom:15px">
          <div class="col-md-4" style="padding-right:0px">
            <%= select("post", "selection_name", Account.all_networks.each { |n| n }, { include_blank: false }, { class: "form-control" }) %>
          </div>
          <div class="col-md-4" style="padding-left:0px">
            <%= submit_tag("Filter", :id=>"button", :class=>"btn btn-primary", :name=>"submit") %>
          </div>
        </div>
      <% end %>
      <%= form_tag list_sort_path, method: :post do %>
        <div class="row" style="margin-bottom:15px">
          <div class="col-md-4" style="padding-right:0px">
            <%= select("post", "selection_name", List.all_lists.each { |n| n }, { include_blank: false }, { class: "form-control" }) %>
          </div>
          <div class="col-md-2" style="padding-left:0px">
            <%= submit_tag("Filter", :id=>"button", :class=>"btn btn-primary", :name=>"submit") %>
          </div>
        </div>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>Date posted</th>
            <th>Network</th>
            <th>Link</th>
            <th>Name</th>
            <th>List(s)</th>
            <th>Text</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= post[:date_posted] %></td>
              <td><%= post[:social_network] %></td>
              <td><%= post[:link] %></td>
              <td><%= post[:name] %></td>
              <td><%= post[:list] %></td>
              <td><%= post[:text] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

